* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

body {
    background: #f4f4f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.chat-container {
    width: 50%;
    max-width: 100%;
    height: 90vh;
    background: #343541;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.chat-header {
    color: #ffffff;
    padding: 15px;
    text-align: center;
    font-weight: 600;
}

.chat-body {
    flex: 1;
    padding: 15px;
    overflow-y: auto;
}


.message {
    
    padding: 10px 14px;
    margin-bottom: 12px;
    border-radius: 10px;
    font-size: 14px;
    line-height: 1.4;
}
/* USER MESSAGE */
.message.user {
max-width: 60%;
background: #3E4C59;        /* Dark gray */
color: #ECECF1;
margin-left: auto;         /* Align LEFT */
border-bottom-right-radius: 2px;
}

/* BOT MESSAGE */
.message.bot {
background: #444654;        /* Black */
color: #ECECF1;
margin-right: auto;          /* Align RIGHT */
border-bottom-left-radius: 2px;
}

.waveform {
background: #1e1e2e;
border-radius: 8px;
box-shadow: 0 2px 10px rgba(0,0,0,0.4);
}       

.chat-footer {
    padding: 10px;

    border-top: 1px solid #ddd;
    display: flex;
    align-items: center;
    gap: 8px;
}

.chat-input {
    flex: 1;
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
    font-size: 14px;
}

.icon-btn {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0b93f6;
    color: #ffffff;
    font-size: 16px;
}

.icon-btn.mic {
    background: #34a853;
}

.icon-btn.thrash {
    background: #f4f4f4;
}

.icon-btn:hover {
    opacity: 0.9;
}